# Please rename this to `.env` and fill in the values marked with ❗️

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# [❗️] The database url to connect to. If there is a pre-existing database you want to connect to,
# change this string accordingly to reflect that.
# The URL schema is of this order:
# postgresql://< username >:< password >@localhost:5432/< db name >?schema=< schema name >
DATABASE_URL="postgresql://prisma:prisma@localhost:5432/postgres?schema=public"
